<!DOCTYPE html>
<html>
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <nav>
        <div class="nav-wrapper">
          <img class="circle responsive-img" src="images.jpg">
          <a href="#" class="brand-logo"><t>VuP</t></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="register">Register</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="faq.html">FAQ</a></li>
          </ul>
    </div>
  </nav>
</head>

<body>
    
</body>

</html>
